- @title = 'Evolu.js - genetic programming for JavaScript'
%article
  - html = readme('/js/')
  - html.gsub! 'Evolu.js</h1>', 'Evolu.<span>js</span></h1>'
  - html.gsub! /License<\/h2>[\w\W]+$/, ''
  = html
  
  :markdown
    ## License
    
    Evolu.js is licensed under the
    [GNU Lesser General Public License version 3][lgpl].
    
    [lgpl]: http://www.gnu.org/licenses/lgpl.html
