- @title = 'Evolu Lang for JS - genetic programming for JavaScript'
%article
  - html = readme('/js/')
  - html.gsub! 'JS</h1>', '<span>JS</span></h1>'
  - html.gsub! /License<\/h2>[\w\W]+$/, ''
  = html
  
  :markdown
    ## License
    
    Evolu Lang for JS is licensed under the
    [GNU Lesser General Public License version 3][lgpl].
    
    [lgpl]: http://www.gnu.org/licenses/lgpl.html
