!!! 5
%head
  %meta( charset="UTF-8" )/
  %title= @title
  %meta( name="keywords" content="evolu, genetic programming, genetic algorithm, programming language, evolution, javascript" )/
  %meta( name="description" content="Evolu is a programming language to genetic programming (automatically generate programs by evolution)" )/
  %link( rel="stylesheet" href="style.css" )/
  %link( href="favicon.ico" rel="icon" type="image/x-icon" )/
  %meta( content="width=device-width; initial-scale=1.0; maximum-scale=1.0" name="viewport" )/
  /[if IE]
    %script( src="http://html5shiv.googlecode.com/svn/trunk/html5.js" )
  - if production?
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-12907923-1']);
      _gaq.push(['_trackPageview']);
      (function() {
          var ga = document.createElement('script'); ga.async = true;
          ga.src = ('https:' == document.location.protocol ?
              'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(ga, s);
      })();
%body
  %header
    #logo
    %nav
      = menu('Language', 'index.html')
      = menu('<abbr title="JavaScript">JS</abbr> interpreter', 'js.html')
      %a( href="http://github.com/ai/evolu" ) Sources
      %a( href="http://github.com/ai/evolu/issues" ) Issues
  = yield
